
<a href="/gamers">Back</a>

<input type="text" name="name" value="{{gamerData.name}}"/>
{{#each gamerGamesData}}
<p>{{name}} {{platform}}</p>
<form action ="/gamers/{{gamers_id}}/remove/{{games_id}}?_method=DELETE" method="post">
  <button type="submit">Remove</button>
</form>
{{/each}}
<!-- update to Gamer DB -->
<h2> Add Gamer</h2>
<form action="/gamers/{{gamersId.id}}/addGamer?_method=PUT" method="post">
  <input type="text" name="name" value="name"/>
  <button type="submit">Add Gamer</button>
</form>
